<div>
    <body>
        <h2>Art Form</h2>
        
        <ol> 
            <li>Visual Arts</li>
            
            
            <li>Performing Arts:</li>
                <input type="text" ng-model="user.lastname" class="form-control" id="lastname" placeholder="Youtube Channel">
        </ol>
        <button type="submit">Submit</button>



	<textarea></textarea>

    </body>
    Multiple submissions of your art (visual, performance, etc.) are required. 
	-  VISUAL ARTS: All Visual Artwork (drawings, paintings, graphic art, photographs, etc.) must be either photographed and printed or submitted electronically. 
	-  PERFORMING ARTS: Must submit a video clip or web link (e.g. YouTube), minimum length of 1 minute, and maximum length of 5 minutes. Examples of performing arts may include: Singing, Dancing, Acting, Musical Instruments, Spoken Word, etc.


</div>
