<div>
    <body>
    <h2>General Application</h2>
        
    <form>
        GPA:<br>
        <input type="text" name="GPA" placeholder="#.##">
        <br>
        Courses Taken:<br>
        <textarea></textarea>
  <br><br>
  <input type="submit" value="Submit">
        </form>

<p>Award Categories:</p>
<select class="form-control">
	Select all that apply:
	<option ng-model="user.catAcademic" id="academic">Academic Excellence</option>
	<option ng-model="user.catArts" id="arts">Arts</option>
	<option ng-model="user.catAthletics" id="athletics">Athletics</option>	
	<option ng-model="user.catStem" id="stem">Science Technology Engineering and Math</option>
	<option ng-model="user.catCommunity" id="community">School/Community Service</option>
</select>

<p>School Information:</p>
<form>
	<div class="form-group">
		State:
		<input type="text" ng-model="user.schoolstate" class="form-control" id="schoolstate">
	</div>
	<div class="form-group">
		District:
		<input type="text" ng-model="user.schooldistrict" class="form-control" id="schooldistrict">
	</div>
	<div class="form-group">
		Name:
		<input type="text" ng-model="user.schoolname" class="form-control" id="schoolname">
	</div>
</form>

	<textarea></textarea>

    <p>Submit your Personal Statement by uploading your file or by filling out the text box</p>


    </body>

</div>
