<html>
    <head>About</head>

    <body>
        <h2>ABOUT THE PROGRAM</h2>

        <ul>
            <li>The Hispanic Student Recognition Program (HSRP) is an effort by the Latin American Community Center (LACC) to recognize exceptional Hispanic students in high school in the State of Delaware. The program has been a signature event since 1979 and maintains strong school, community, and private sector support. The goal of the program is to open doors for Hispanic students to pursue greater opportunities, inspire pride in our people and our heritage, motivate students to work hard, and motivate their families to support them.</li>
            <li>All nominees attending the awards ceremony will be recognized and honored with a commemorative medal. All award recipients will receive a special award medal and a cash prize. In addition to these prizes, the outstanding students of the year will receive a special plaque.</li>
        </ul>

        <br>

        <h2>ElIGIBILITY</h2>
        <ul>
            <li>Hispanic high school students from any public or private school can apply for achievement awards.</li>
            <li>Nominees must be Delaware residents (i.e., primary residence must have a Delaware address).</li>
            <li>Nominees must be of Hispanic origin, defined as those persons who have at least one parent of Hispanic/Latino heritage. </li>
			<li>Hi</li>
        </ul>
    </body>


</html>
