<div>
<div class="container">
  <h2>Visual and Performing Arts Rubric</h2>
  <p>The .table-hover class enables a hover state on table rows:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
      	<th></th>
        <th>Art Criteria</th>
        <th>0 <br/> Does Not Meet Expectations</th>
        <th>1 <br/> Minimally Meets Expectations</th>
        <th>2 <br/> Meets Expectations</th>
        <th>3 <br/> Exceeds Expectations</th>
        <th> Score </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Creativity / Originality</td>
        <td>Subject that is portrayed is a common theme or lacks original thought; cliché</td>
        <td>Personal ideas and thoughts show in the art work</td>
        <td>Out of the Ordinary; Imaginative</td>
        <td>Extraordinary Expression; Outside the box thinking; Mind-blowing and provocative</td>
		<td><input type="text" class="form-control" id="score"></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Craftsmanship / Skill</td>
        <td>Technique and use of tools and materials is satisfactory
        </td>
        <td>Standard skill / control of the elements</td>
        <td>Strong technique and use of tools; Skill is well-developed</td>
        <td>Excellent technique and mastery of skills is clearly demonstrated</td>
		<td><input type="text" class="form-control" id="score"></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Impression & Effect </td>
        <td>Impression made by art is not profound not does it tell a larger story</td>
        <td>Some meaning is apparent but could use further development</td>
        <td>Meaning or intent is conveyed well; Art tells a story that makes you think</td>
        <td>Profound, deep meaning behind the artwork; Heart-wrenching, life-changing, groundbreaking</td>
		<td><input type="text" class="form-control" id="score"></td>
      </tr>
      <tr>
        <td>4</td>
        <td>Composition and Design</td>
        <td>Composition or design is not well-developed / doesn’t show much thought</td>
        <td>Basic elements of composition / design are evident</td>
        <td>Composition / design is well established</td>
        <td>Execution is extremely well thought-out and intentional; meticulous attention to detail</td>
		<td><input type="text" class="form-control" id="score"></td>
      </tr>
      <tr>
        <td>5</td>
        <td>Number of ARTS related courses taken in and out of school</td>
        <td>Has not taken ART classes</td>
        <td>1 ART related class</td>
        <td>2 ART related classes</td>
        <td>3 ART related classes</td>
		<td><input type="text" class="form-control" id="score"></td>
      </tr>
      <tr>
      	<td>6</td>
        <td>Grades in ART related courses</td>
        <td>Has not taken ART classes</td>
        <td>Has a B average (81-87%)</td>
        <td>Has a B+ average (88-91%)</td>
        <td>Has an A average (92% or higher)</td>
		<td><input type="text" class="form-control" id="score"></td>
      </tr>
      <tr>
      	<td>7</td>
        <td>Discretionary Points: Assign 0 – 3 additional points based on support materials such as competition entry / awards, etc.</td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
		<td><input type="text" class="form-control" id="score"></td>
      </tr>
    </tbody>
  </table>
 <a href="javascript:sumInputs()">Total Score: </a><input type="text" class="form-control1" id="totalScore">
</div>

<script type="text/javascript">
window.sumInputs = function() {
    var result = document.getElementById('totalScore');
    var sum = 0;
    $('.form-control').each (function() {
        var q = ($(this).val());
        sum  = sum + parseInt(q);  
      })
    result.value = (sum);
  }
    </script>
</div>
