<div>
	some text here
    <style> STYLING FOR BUTTONS
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333333;
            }
            li {
                float: left;
            }
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 16px;
                text-decoration: none;
            }
            li a:hover {
                background-color: #111111;
            }
        </style>
    <ul> BUTTONS
            <li><a href="#home">Home</a></li>
            <li><a href="./templates/about.html">About</a></li>
            <li><a href="./templates/login.html">Login</a></li>
            <li><a href="./templates/register.html">Register</a></li>
        </ul>
</div>
