<div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<html>

        <title>Hispanic Student Recognition Program</title>


    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <body>
        <center>
        <h4>Welcome to LACC</h4>
        <br>
        <button type="button" class="btn btn-primary" ui-sref="login">Login</button>

        <br><br><br>

        <img src="./templates/lacc.jpg" height="200">
		<br><br><br>
		<div>
			<button type="button" class="btn btn-primary" ui-sref="register({type: 'judge'})">Register as a Judge</button>
	        <button type="button" class="btn btn-primary" ui-sref="register({type: 'student'})">Register as a Student</button>
	        <button type="button" class="btn btn-primary" ui-sref="register({type: 'recommender'})">Register as a Recommender</button>
		</div>

	</center>


    </body>


</html>
</div>
