<button type="button" class="btn btn-primary" ui-sref="academicRubric">View rubric</button>

<table class="table">
	<tr>
		<td>Description</td>
		<td>Student</td>
		<td>Score</td>
	</tr>
	<tr>
		<td>GPA</td>
		<td>3.0</td>
		<td>3</td>
	</tr>
	<tr>
		<td>Rank</td>
		<td>Top 10%</td>
		<td>3</td>
	</tr>
	<tr>
		<td>Number of AP Classes Taken</td>
		<td>2</td>
		<td>2</td>
	</tr>
	<tr>
		<td>Total Score</td>
		<td></td>
		<td>8</td>
	</tr>
</table>
<div>
			<button type="button" class="btn btn-primary" ui-sref="academicRubric">Academic Rubric</button>
      <button type="button" class="btn btn-primary" ui-sref="artsRubric">Arts Rubric</button>
      <button type="button" class="btn btn-primary" ui-sref="STEMRubric">STEM Rubric</button>
<button type="button" class="btn btn-primary" ui-sref="athleticRubric">Athletic Rubric</button>
<button type="button" class="btn btn-primary" ui-sref="communityServiceRubric">Community Service Rubric</button>
		</div>
