<h3> Student Form </h3>
<div ng-show="studentform.$invalid" class="text-danger">Incomplete</div>
<div ng-show="studentform.$valid" class="text-success">Complete</div>

  <div ng-form name="studentform">
  <div class="form-group">
    <label for="personalStatement">Personal Statement</label>
    <textarea required class="form-control" ng-model="user.personalStatement" id="exampleFormControlTextarea1" rows="5" placeholder="Enter Text Here"></textarea>
  </div>

  <div>
    <label for="Resume">Resume</label>
    <input required type="file" filechange class="form-control-file filereader" ng-model="resume">
  </div>

  <div class="form-group">
    <label for="gpa">Enter GPA</label>
    <input required type="text" ng-model="user.gpa" class="form-control" id="gpa">
  </div>

  <div class="form-group">
    <label for="Class Rank">Enter Class Rank</label>
    <input required type="text" ng-model="user.classRank" class="form-control" id="classRank">
  </div>

  <div class="form-group">
      <label for="classesTaken">AP Classes and Scores</label>
      <textarea class="form-control" ng-model="user.classesTaken" id="exampleClassesTaken" rows="5" placeholder="Enter Courses and Scores"></textarea>
  </div>

  <div class="form-group">
      <label for="honorsClassesTaken">Honors Classes Taken</label>
      <textarea class="form-control" ng-model="user.honorsClassesTaken" id="honorsClassesTaken" rows="5" placeholder="Enter Courses"></textarea>
  </div>

  <div class="form-group">
      <label for="sat">Enter SAT score</label>
      <input required type="text" ng-model="user.sat" class="form-control" id="sat">
  </div>

  <div class="form-group">
      <label for="Academic Awards">Academic Awards</label>
      <textarea class="form-control" ng-model="user.academicAwards" id="academicAwards" rows="3" placeholder="Enter Awards"></textarea>
  </div>

  <div class="form-group">
      <label for="HonorSociety">Honor Society Memberships</label>
      <textarea class="form-control" ng-model="user.HonorSociety" id="HonorSociety" rows="3" placeholder="Enter Honor Societies"></textarea>
  </div>

  <div>
    <label for="Visual Art Files">Visual Art Files</label>
     <input required type="file" filechange class="form-control-file" multiple ng-model="visualArtsFile" />
  <div>

  <div>
    <label for="Performing Art Files">Performing Art Files</label>
    <input type="file" filechange class="form-control-file filereader" ng-model="performingArtFile">
  </div>

   <div class="form-group">
      <label for="PerformingArtsLink">Enter Link to Performance</label>
      <input required type="text" ng-model="user.performingArtLink" class="form-control" id="performingArtLink">
  </div>

  <div class="form-group">
      <label for="ScienceTechnologyAwards">List any Science and technology awards</label>
      <textarea class="form-control" ng-model="user.ScienceTechnologyAwards" id="ScienceTechnologyAwards" rows="3" placeholder="Enter Awards"></textarea>
  </div>

  <div>
    <label for="Science Technology Files">Science Technology Files</label>
	 <input required type="file" filechange class="filereader sciencetech" multiple ng-model="ScienceTechnologyFile" />
	  </div>

  <div class="form-group">
      <label for="Community Service">List places of service and why you served there</label>
      <textarea class="form-control" ng-model="user.communityService" id="communityService" rows="3" placeholder="Enter Service"></textarea>
  </div>

  <div>
    <label for="Community Service">Community Service Form</label>
    <input required type="file" filechange class="form-control-file filereader" ng-model="communityServiceForm">
  </div>

  <div class="form-group">
      <label for="Atheletics">List atheletic achievements</label>
      <textarea class="form-control" ng-model="user.atheletics" id="atheletics" rows="5" placeholder="Enter Atheletics Achievements"></textarea>
  </div>

	<div>
		<button class="btn btn-primary" ng-click="save()">Save</button>
	</div>
      
      
    <div>
		<button class="btn btn-primary" >Submit</button>
	</div>  
